@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> _signInManager;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" src="~/lib/jquery/jquery.js"></script>
    <script type="text/javascript" src="~/lib/chosen/chosen.jquery.js"></script>
    <script type="text/javascript" src="~/lib/chosen/chosen.proto.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/lib/chosen/chosen.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet"
          asp-href-include="lib/bootstrap/dist/**/*.min.css"
          asp-href-exclude="**/*-reboot*,**/*-grid*" />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">CulinaryR3cipes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-action="Index" asp-controller="Home">Przepisy</a>
                </li>
                @if (!_signInManager.IsSignedIn(User))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Login" asp-controller="Account">Zaloguj</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Fridge" asp-controller="Fridge">Lodówka</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-action="Recipe" asp-controller="Recipe">+ Dodaj przepis</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-action="Favourites" asp-controller="Favourite">Ulubione przepisy</a>
                    </li>

                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-action="AdminPanel" asp-controller="Admin">Panel administracyjny</a>
                        </li>
                    }

                    <li class="nav-item">
                        <a class="nav-link" asp-action="Logout" asp-controller="Account">Wyloguj</a>
                    </li>
                }
            </ul>
            @if (_signInManager.IsSignedIn(User))
            {
                <div>Zalogowano jako: @User.Identity.Name</div>
            }
        </div>
    </nav>

    <div id="container-fluid">
        @RenderBody()
    </div>
</body>
</html>
