@model User
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> _singInManager;
<!-- Modal -->
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<div class="modal fade" id="details" tabindex="-1" role="dialog" aria-labelledby="submitRecipeLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="submitRecipeLabel">Szczegóły użytkownika</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="SetAdminRole">
                    <div class="form-group">
                        <input asp-for="Id" hidden />
                    </div>

                    <div class="form-group">
                        <label asp-for="UserName">Nazwa użytkownika</label>
                        <input asp-for="UserName" class="form-control" style="background-color: #f8f8f8" readonly />
                    </div>

                    <div class="form-group">
                        <label asp-for="Email">Email użytkownika</label>
                        <input asp-for="Email" class="form-control" style="background-color: #f8f8f8" readonly />
                    </div>

                    <div class="form-group">
                        <label asp-for="PhoneNumber">Numer telefonu</label>
                        <input asp-for="PhoneNumber" class="form-control" style="background-color: #f8f8f8" readonly />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                @if (await _singInManager.UserManager.IsInRoleAsync(Model, "Admin"))
                {
                    <button id="setAdminRole" type="button" class="btn btn-primary">Usuń prawa administratora</button>
                }
                else
                {
                    <button id="setAdminRole" type="button" class="btn btn-primary">Nadaj prawa administratora</button>
                }
            </div>
        </div>
    </div>
</div>

