@model UsersListViewModel
@{
    ViewData["Title"] = "_UsersListPartial";
}

<h2>_UsersListPartial</h2>

<table class="table" style="background-color:#DF691A">
    <thead>
        <tr>
            <th>Nazwa użytkownika </th>
            <th>Akcja</th>
        </tr>
    </thead>
    <tbody style="background-color:azure">
        @foreach (var item in Model.Users)
        {
            <tr style="color:dimgray">
                <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-success btn-sm">Usuń</a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm">Edytuj</a>
                </td>
            </tr>
        }
    </tbody>
</table>