@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
}

<div class="section text-center">
    <h2>Zresetuj hasło</h2>
</div>

<form asp-action="ResetPassword" asp-controller="Account" method="post" class="form-horizontal" role="form">
    <div asp-validation-summary="All" class="text-danger section"></div>
    <input asp-for="Code" type="hidden" />

    <div class="row section justify-content-center">
        <div class="col-sm-6">
            <div>
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="PasswordConfirm"></label>
                <input asp-for="PasswordConfirm" class="form-control" />
                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
            </div>
            <div class="col-md-12 text-center loginButton">
                <input type="submit" class="btn btn-primary" value="Zresetuj hasło" />
            </div>
        </div>
    </div>
</form>