
@{
    ViewData["Title"] = "Favourites";
}

<div class="section text-center">
    <h2>Twoje ulubione przepisy</h2>
</div>
<div class="row section" id="viewPlaceHolder"></div>

<script>
    $(document).ready(function () {
        $("#viewPlaceHolder").load("/Favourite/FavouriteRecipes");
    });
</script>
