
@{
    ViewData["Title"] = "Favourites";
}

<h2>Ulubione przepisy</h2>

<div id="viewPlaceHolder"></div>

<script>
    $(document).ready(function () {
        $("#viewPlaceHolder").load("/Favourite/FavouriteRecipes");
    });
</script>
