@model RecipesListViewModel

@{
    ViewData["Title"] = "Index";
}
<script type="text/javascript" src="~/js/Index.js"></script>
<label for="ddlType">Select Type</label>

@Html.ListBoxFor(model => model.SelectedTypeIds, new MultiSelectList(Model.Types, "TypeId", "Name"), new { id = "typeDropDown", multiple = "multiple" })
@Html.ListBoxFor(model => model.SelectedIncludedCategoriesIds, new MultiSelectList(Model.Categories, "CategoryId", "Name"), new { id = "categoryIncludedDropDown", multiple = "multiple" })
@Html.ListBoxFor(model => model.SelectedExcludedCategoriesIds, new MultiSelectList(Model.Categories, "CategoryId", "Name"), new { id = "categoryExcludedDropDown", multiple = "multiple" })
<input id="btnSearch" type="button" class="btn btn-primary" value="Search" />


<div id="viewPlaceHolder"></div>



