@model IEnumerable<Recipe>
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@foreach(var recipe in Model)
{
    <div>
        <h3>@recipe.Name</h3>
        @recipe.Description
        @foreach(var i in recipe.Ingredients)
        {
            @String.Format("{0} : {1}{2}", i.Product.Name, i.Quantity, i.Product.Measure)            
        }
    </div>
}